# Telegram API credentials from https://my.telegram.org/apps
TG_API_ID=
TG_API_HASH=
# Name of the local session file (<name>.session)
SESSION_NAME=my_account

# Channel to read from and channel to post into (ids start with -100)
SOURCE_CHAT_ID=
TARGET_CHAT_ID=

DB_HOST=localhost
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=
